.calendar {
    background: #7258ff;
    padding: 2px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 80%;
    max-width: 1000px;
    left: 10%;
    top: 25%;
}

.card {
    margin: 2px;
    flex: 0 1 calc(14.28% - 4px);
    color: azure;
    background-color: #190a6a;
}

.card:hover{
    color: #190a6a;
    background-color: azure;
}

h3 {
    left: 40%;
    position: relative;
}  