.calendar {
    background: gray;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    max-width: 80%;
    left: 10%;
    top: 25%;
}

.card {
    margin: 4px;
    flex: 0 1 calc(14% - 8px);
}